@import '../../styles/_variables';
@import '../../styles/_breakpoints';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
  height: 80px;
  padding: 1rem;
  width: 100%;
  border-bottom: 2px solid var(--green);
  margin-bottom: 1rem;
}

.login-link,
.register-link {
  color: #fff;
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: bold;
  transition: color 0.2s;
}

.login-link:hover,
.login-link:focus,
.register-link:hover,
.register-link:focus,
.logout-link:hover,
.logout-link:focus {
  color: var(--yellow);
}

.logout-link {
  text-decoration: none;
  color: var(--white);
}

nav {
  text-align: center;
  display: block;
}

.welcome-user {
  text-align: center;
  margin: 0 auto;
  color: var(--white);
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
}

svg {
  fill: var(--white);
  transition: fill 0.2s;
}

svg:hover,
svg:focus {
  fill: var(--green);
}

.language-teacher-header {
  display: none;
}

.logout-link {
  font-weight: 400;
}

@include mobileLandscape {
  svg {
    display: none;
  }

  .language-teacher-header {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white);
    transition: color 0.2s;
  }

  .language-teacher-header:hover,
  .language-teacher-header:focus {
    color: var(--green);
  }
}
